<rdoc:include file="head.htm" />
<div class="row">
    <div class="col-md-12 col-sm-12">
        <rdoc:include type="module" name="position" tid="$tid" />
    </div>
    
  <div class="col-md-8 t t8">
  	<rdoc:include type="module" name="content" tid="$tid" cid="$cid" miw="650" sh="1" sr="1" />
  </div>
  
  <div class="col-md-4 col-sm-4 col-xs-12 t t4">
      <!-- BEGIN WIDGET WRAP IMAGE -->
      <div class="portlet">
      	<div class="portlet-body">
			<rdoc:include type="module" name="tileview" cid="$params[cid]" num="10" title="最新排行" />
		</div>
      </div>
      <!-- END WIDGET WRAP IMAGE -->
  </div>
</div>
<rdoc:include file="foot.htm" />
