<!DOCTYPE HTML >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$scf[title]</title>
<meta name="keywords" content="$scf[title]" />
<meta name="description" content="$scf[title]" />
<link href="$_dstroot/css/frontend.css" rel="stylesheet" type="text/css" />
<script src="$_dstroot/js/frontend.js" language="javascript" ></script>

<link href="$_theroot/global/plugins/videojs/css/videojs.css" rel="stylesheet" type="text/css" />
<script src="$_theroot/global/plugins/videojs/js/videojs.js" type="text/javascript"></script>

</head>
<style type="text/css">
	.col-lg-12,
	.col-md-12,
	.col-sm-12 ,
	.col-xs-12 
	{ 
		margin: 0px !important;
		padding: 0px !important;
	}
</style>
<video id="my-video" height="480" style="width: 100%;" class="video-js vjs-default-skin" controls autoplay >
    <source src="$params[playurl]" type="$params[mimetype]">
</video>

<script type="text/javascript">
   jQuery(document).ready(function() {
    var player = videojs('my-video');

    $(window).resize(function() {
      var win = $(this);
      var videoWidth = win.width();
      var videoHeight = win.height();

      player.width(videoWidth);
      player.height(videoHeight);

    }).resize();


    player.play();
  });
</script>
									
</body>
</html>