<rdoc:include file="head.htm" />

<div class='clear'></div>
<!--main start-->
<div class='main'>
	<div class='mleft'>
	<div class='iflash'><img src='$_dstroot/front/img/banner.gif'></div>	
	<div class='clear'> </div>
	<div class="xt">
	        <div class="xh"><h2>系统简述</h2></div>
	        <div class="content">
		      	<li>
		      	<p>
		      	RELAXCMS始创于2007年，主要解决中小企、事业单位或个人通过内容管理系统快速建站问题。系统基于PHP语言开发，采用面向对象设计思想，参考国内外多家内容管理系统（JOOMLA、DEDECMS、VERYCMS、DISCUZ、PHPWIND），结合自己多年编程经验而创一套适合中小企业与个人使用或再定制的基础服务平台。
		      	</p>
		      	</li>
	    	</div>
  		</div>	
	</div>
	
	<div class='mright'>
		<div class="xt">
	        <div class="xh"><h2>最新公告</h2></div>
	        <div class="content notic">
	            <rdoc:include type="module" name="digest" flags="64" num="10" cols="1" maxlen="10" />	            
	    	</div>
  		</div>
		<div class="about">
        	<div class='rui-adp', aid='contact'></div>
        </div>
	</div>		
	<div class='clearbox'></div>
</div>
<rdoc:include file="foot.htm" />