<rdoc:include file="ihead.htm" />

		
              
	    	  <!-- BEGIN PAGE BASE CONTENT -->	    	  
	    	  
	          <div class="row widget-row margin-bottom-20 ">
	              <div class="col-md-8 t t8">
	              
	                  <rdoc:include type="module" name="iplayer" flags="1024" num="5" ttag="头条" />
	                  
	              </div>
	              <div class="col-md-4 col-sm-4 col-xs-12 t t4">
	                  <!-- BEGIN WIDGET WRAP IMAGE -->
	                  <rdoc:include type="module" name="tileview" flags="8192" num="8" maxlen="10"  ttag="特别推荐" />
	                  <!-- END WIDGET WRAP IMAGE -->
	              </div>
	              
	          </div>
	          
	          
	          <div class="row widget-bg-color-white no-space margin-bottom-20 t t3">
	          		<!-- BEGIN PORTLET-->
	                <rdoc:include type="module" name="tileview" flags="7" num="4" cols="4" maxlen="10" ttag="优秀展播" />
	                <!-- END PORTLET-->
	          </div>
	
	          <div class="row widget-bg-color-white no-space t t6">
	          		<!-- BEGIN PORTLET-->
	                 <rdoc:include type="module" name="tileview" flags="8" num="6" cols="6" maxlen="10" ttag="热门节目" />
	                 <!-- END PORTLET-->
	          </div>
              <!-- END PAGE BASE CONTENT -->
                 	
	
<rdoc:include file="ifoot.htm" />     