<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>$scf[title] $_catalog_title $_content_title</title><meta name="_dstroot" content="$_dstroot">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #4 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />

        <!--BEGIN CSS--><link href="$_dstroot/css/login4.css" rel="stylesheet"><!-- END CSS-->
         $sys_JS_G
        <!--BEGIN JS--><script src="$_dstroot/js/login4.js" type="text/javascript"></script><!--END JS-->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class="login page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-boxed page-footer-fixed">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner container">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <img src="$_theroot/index4/img/logo-dark.png" alt="logo" class="logo-default" /> </a>
                    
                </div>
                <!-- END LOGO -->
                <div class="top-menu pull-left">
                        <ul class="nav navbar-nav pull-right">
                            <li class="separator hide"> </li>
                            <li class="dropdown dropdown-dark">                                
                                <a href="" class="dropdown-toggle">
                                    <i class="icon-home">  </i>
                                    <span class="title"> 首页 </span>
                                </a>
                            </li>
                        </ul>
                </div>
                <!-- BEGIN PAGE TOP -->
                <div class="page-top">
                    
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="separator hide"> </li>
                            <!-- BEGIN I18N DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-i18n dropdown-extended  dropdown-dark" >
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-globe"></i>
                                    <span > 简体中文 </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="#">
                                            <i class="icon-item"></i> 简体中文 </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="icon-item"></i> 繁体中文 </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="icon-item"></i> English </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END I18N DROPDOWN -->

                            <li class="dropdown dropdown-dark">                                
                                <a href="#" class="dropdown-toggle">
                                    <i class="icon-question">  </i>
                                    <span class="title"> 帮助 </span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="container ">
        <div class="page-container">
            <div class="row margin-top-30">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <!-- BEGIN LOGIN CONTENT-->        
                    <rdoc:include type="module" name="login2" />
                    <!-- END LOGIN CONTENT -->
                </div>
            </div>
        </div>
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="container">
                <div class="page-footer-inner copyright pull-right"> 2023 &copy; <a target="_blank" href="https://www.relaxcms.com">RC</a> UI 0.8.8.1234  
                </div>
            </div>
        </div>
        <!-- END FOOTER -->
        
       
    </body>

</html>