<rdoc:include type="file" name="head_nommbar"></rdoc:include>
<div class='clear'></div>
<div class='main'>
<div class='t'>
    <div class='top'><h3>系统提示</h3></div>
    <div class='content'>
        <ul>
            <span><img src="$tplroot/themes/default/images/$params[type].gif" /></span>
            <span>$params[msg]</span>
            <span><a href='$params[backurl]' target="$target">$str_back</a> $params[ext]</span>
        </ul>
        <div class='clear'></div>
    </div>
</div>

</div>

<rdoc:include type="file" name="foot"></rdoc:include>
