<rdoc:include type="file" name="head"></rdoc:include>

<div class='clear'></div>
<!--main start-->
<div class='main'>
	<div class='mleft'>
	<div class="xt">
	        <div class="xh"><h2>产品列表</h2></div>
	        <div class="content">
		      	<rdoc:include type="module" name="vhost" />
	    	</div>
  		</div>
	
	</div>
	
	<div class='mright'>
		<div class="xt">
	        <div class="xh"><h2>最新公告</h2></div>
	        <div class="content notic">
	            <rdoc:include type="module" name="catalog" num="10" cid="{$div[2][cid]}" show_time="true"/>
	    	</div>
  		</div>
		<div class="about">
        	<div class='rui-adp', aid='contact'></div>
        </div>
	</div>		
	<div class='clearbox'></div>
</div>

<rdoc:include type="file" name="foot"></rdoc:include>
