<rdoc:include file="head.htm" />
<div class="portlet box default">
<!--# if (!$dlg) { #-->
<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-globe"></i>$mi18n[modelname] <small> @t[Detail]  </small>
    </div>
    <div class="actions">
        
        
        
       <button type="button" class="btn btn-primary btn-sm refresh">
            <i class="fa fa-refresh"></i> @T[Refresh] </button>
    </div>
</div>
<!--# } #-->
<rdoc:include file="detail.htm" />
</div>
<rdoc:include file="foot.htm" />