<rdoc:include file="head.htm" />
<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                       <a href="$_basename/my_info">
                            <img alt="" class="img-circle" src="$myinfo[avatar]" />
	                    </a>
                    </div>
                    <div class="col-md-8 form">
                        <table class="table table-light">
                            <tr><td width="80" class="ar">UID :</td> <td>$myinfo[id]</td></tr>
                            <tr><td class="ar">用户名 :</td> <td>$myinfo[name]</td></tr>
                            <tr><td class="ar">昵称 : </td> <td>$myinfo[nickname]</td></tr>
                            <tr><td class="ar">电子邮件 : </td> <td>$myinfo[email]</td></tr>
                        </table>
                    </div>
                </div>
	        </div>
        </div>
    </div>
    
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-value="7800">100.00</span>
                        <small class="font-green-sharp t5">元</small>
                    </h3>
                    <small>我的余额</small>
                </div>
                <div class="icon">
                    <i class="fa fa-rmb"></i>
                </div>
            </div>
            
        </div>
    </div>
    
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-value="1349">0</span>
                        <small class="font-red-haze t5">个</small>
                    </h3>
                    <small>我的订单</small>
                </div>
                <div class="icon">
                    <i class="icon-basket-loaded "></i>
                </div>
            </div>
        </div>
    </div>
</div>
     
<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">最近订单</span>
                    <span class="caption-helper">三个月内</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                </div>
            </div>
            <div class="portlet-body">
                
            </div>
        </div>
    </div>    
</div>
<!-- END PAGE BASE CONTENT -->
                
 <rdoc:include file="foot.htm" />
    