<!--# if (!$dlg) { #-->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            
            </div>
            
        
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner">
            	<span class="copyright">
            			$sys_current_year &copy; <a href="$sys_website" title="$sys_description" target="_blank"> $sys_copyright</a>
            		</span>
            		
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>
    </div>
<!--# } else { #-->
</div>
</div>
<!--# } #-->

<!--# if ($hasComponentJS) { #-->
    <script src="$_dstroot/js/$component.js"></script>
<!--# } #-->



   
    </body>
</html>