<rdoc:include file="head.htm" />

<!-- BEGIN PAGE CONTENT-->			
<div class="row">
		<div class="col-md-12">
			<div class="portlet box default">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>$sys_component_name
				</div>
				<div class="actions">
			        <div class="btn-group">

			            
			        </div>
			    </div>
			</div>
			<div class="portlet-body">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab_1_1" data-toggle="tab" data-type='-1' class='tabpage' >
						许可证基本信息 </a>
					</li>

					<li>
						<a href="#tab_1_2" data-toggle="tab" data-type='1' class='tabpage' >
						许可证详细</a>
					</li>
					
					<li>
						<a href="#tab_1_3" data-toggle="tab" data-type='1' class='tabpage' >
						许可证升级</a>
					</li>
				</ul>

					<!-- BEGIN TAB CONENT -->
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1_1">
							<div class="portlet-body form">
								<!-- BEGIN FORM-->
		                        <form action="$_basename" name='ruiform' method="POST" class="form-horizontal" id="bindingLicenseForm">
		                            <input type="hidden" name="sbt" value="$sbt">
		                            <input type="hidden" name="component" value="$component">
		                            <input type="hidden" name="task" value="bindingAccount">
                            		<input type="hidden" name="params[action]" value="3">

									<!-- 许可证基本信息 -->
									<div class="panel panel-default">
										<!-- Default panel contents -->
										<div class="panel-heading">
											<h3 class="panel-title">许可证基本信息</h3>
										</div>
										<!-- List group -->
										<ul class="list-group">
											<li class="list-group-item">
												<label class="list-label">产品标识 :</label>
													<span class="list-cotent">
													$sys_product_id </span>
											</li>
											<li class="list-group-item">
												<label class="list-label">许可证状态 :</label>
													<span class="list-cotent">
													$linfo[_status] </span>
											</li>
											<!--# if ($linfo['status'] > 0) { #-->
											<li class="list-group-item">										
												<label class="list-label">许可证有效期至 :</label>
													<span class="list-cotent">
													$linfo[_expired]</span> 
													
													<span><a href="$linfo[buyurl]" target="_blank"> 延期 </a></span>
													
													
											</li>
											<!--# } #-->


											<li class="list-group-item">										
												<label class="list-label">绑定帐户 :</label>
													<!--#if ($linfo['uid'] > 0) { #-->
			                                        <span class="list-cotent form-control-static">$linfo[email]($linfo[_uid])</span>
			                                        <label class="control-label font-green"> <a href='#' id="unbindingAccount"> 解绑 </a></label>			                                        
			                                        <!--# } else {#-->
				                                        <span class="form-group">
					                                            <div class="input-icon">
					                                                <i class="fa fa-envelope"></i>
					                                                <input type="text" class='form-control  placeholder-no-fix input-large'  name="params[account]" value="$linfo[email]" id='param_account' placeholder="@t[Email]" autocomplete="off"/>                                            
					                                              </div>
					                                               <span class="form-control-static"><a href="$registerUrl?account=$linfo[email]" target="_blank">申请新帐户</a></span> 
					                                    </span>

			                                        <!--# } #-->

											</li>

											<li class="list-group-item">										
												<label class="list-label"></label>
													<span class="list-cotent">
													<!--# if ($linfo[status] < 0) { #-->
													<button type="button" class="btn default" id="activeLicense">激活许可证</button>
													<!--# } else if ($linfo[uid] > 0) { #-->
													<button type="button" class="btn default" id="updateLicense">更新许可证</button>
													<!--# } else { #-->	
													<button type="submit" class="btn default" id="bindingLicense">绑定许可证</button>
													<!--# } #-->
													</span>
											</li>
											
										</ul>
									</div>
								</form>

							</div>
						</div>
						<div class="tab-pane" id="tab_1_2">
						              

						</div>
						<div class="tab-pane" id="tab_1_3">						
							<h5>无法连网时可以选择通过上传许可证文件来更新许可证：</h5>
							  <div class="btn btn-group tileupload" 
				                data-url="$_base/upload"
				                data-sbt="$sbt"
				                data-tpl="fileselectbutton"
				                data-model="aa"
				                data-oid="1"
				                data-donereload="true"
				                data-uptype="key|txt|lic|doc">
                                </div>
						</div>

						

					</div>
					<!-- END TAB CONENT  -->
				</div>
				<!-- END TAB -->

		</div>
		
	</div>
</div>
<script language='javascript'>
jQuery(document).ready(function() {
    $('.tileupload').tileupload({ autoupload: false });



    $('#bindingLicenseForm').validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                rules: {
                    'params[account]': {
                        required: true,
                        email:true,
                    },
                },
                messages: {  
                    'params[account]': {
                        required: t("The field is required."),
                        email: t("Please enter a valid email address."),
                    },            
                },

                invalidHandler: function (event, validator) { //display error alert on form submit   
                    $('.alert-danger', $('.login-form')).show();
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    error.insertAfter(element);
                },

                submitHandler: function (form) {
                    bootbox.confirm('确定绑定许可证吗？', function(result) {
                        if (result) {                             
           
                        showWaiting("请稍后。。。"); 
                        
                           var  formData = $(form).serializeArray();
                           //console.log(formData);                       
                           $.post(form.action, formData, function(res) {
                                if (res.status == 0) {
                            	    var msg = (_.isString(res.msg) && res.msg != '')?res.msg:'操作成功';
		                            if (!_.isUndefined(res.data.msg))
		                                msg += '<br>' + res.data.msg;
                                    rui.showTSuccess(msg);
                                } else {
                                   rui.showTError('操作失败:'+res.status);
                                }
                            }).error(function(){
                                  rui.showTError('系统错误！');      
                            }); 
                        closeWaiting();
                        }
                    });
                }
       });


    
    //activeLicens    
    $('#activeLicense').click(function(e) {
    	e.preventDefault();  
    	var el = $(this);
    	var account = $('#param_account').val();
    	var url = G.base+'/activeLicense?account='+account;
    	showWaiting("请稍后...");
    	$.getJSON(url, function(res) {
            if (res.status == 0) {
                rui.showTSuccess('操作成功.'); 
                closeWaiting();
            } else {
                rui.showTError('操作失败:'+res.status);
                closeWaiting();
            }
        })
        .error(function() { 
             rui.showTError("系统错误!");
             closeWaiting();
        });    
    });   
    
    //检查远程版本
    $('#updateLicense').click(function(e) {
    	e.preventDefault();  
    	var el = $(this);
    	var account = $('#param_account').val();
    	var url = G.base+'/updateLicense';
    	if (typeof account != 'undefined')
    		url += '?account='+account;
    	
    	showWaiting("请稍后...");
    	$.getJSON(url, function(res) {
            if (res.status == 0) {
                closeWaiting();
                var msg = (_.isString(res.msg) && res.msg != '')?res.msg:'操作成功';
                if (!_.isUndefined(res.data.msg))
                    msg += '<br>' + res.data.msg;
                rui.showTSuccess(msg);
		                
                rui.refresh(1);
            } else {
                var msg = (_.isString(res.msg) && res.msg != '')?res.msg:'操作失败';
                if (!_.isUndefined(res.data.msg))
                    msg += '<br>' + res.data.msg;
                rui.showTError(msg);
                
                closeWaiting();
            }
        })
        .error(function() { 
             rui.showTError("系统错误!");
             closeWaiting();
        });    
    });

    $('#unbindingAccount').on('click', function(e){
        e.preventDefault(); 
        bootbox.confirm('确定解绑许可证吗？', function(result) {
           if (result) {
           		var url = "$_base/unbindingAccount";
		        showWaiting("请稍后...");
		    	$.getJSON(url, function(res) {
		            if (res.status == 0) {
		                closeWaiting();
		            	var msg = (_.isString(res.msg) && res.msg != '')?res.msg:'操作成功';
		                if (!_.isUndefined(res.data.msg))
		                    msg += '<br>' + res.data.msg;
		                rui.showTSuccess(msg);
		            } else {
		                rui.showTError('操作失败:'+res.status);
		                closeWaiting();
		            }
		        })
		        .error(function() { 
		             rui.showTError("系统错误!");
		             closeWaiting();
		        });
           }
        });
        

    });
});
 </script>

<rdoc:include file="foot.htm" />			