<rdoc:include file="head.htm" />

<!-- BEGIN PAGE CONTENT-->			
<div class="row">
		<div class="col-md-12">
			<div class="portlet box default">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-book"></i>$sys_component_name
				</div>
				<div class="actions">
			        <div class="btn-group">
			        </div>
			    </div>
			</div>
			
			<div class="portlet-body">
			   $aboutus			    
			</div>
		</div>
		
</div>
<!-- END PAGE CONTENT -->

<rdoc:include file="foot.htm" />
