<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>$sys_title </title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<link href="$_dstroot/css/login.css" rel="stylesheet" type="text/css">

<!-- BEGIN GLOBAL VARIABLE G -->
$sys_JS_G
<!-- END GLOBAL VARIABLE G -->

<link rel="shortcut icon" href="favicon.ico"/>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN TOPBAR -->
<div class="page-header navbar">
					
</div>
<!-- END TOPBAR -->

<!-- BEGIN LOGO -->
<div class="logo ">
	<a href="index.html" class="hidden">
		<img src="$_dstroot/pages/img/logo.png" alt=""/>
	</a>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGION WRAPPER -->
<div class="login-wrapper">
<!-- BEGIN LOGIN BANNER -->
<div class="banner">
    <i class="icon-lock"></i> @t[Welcome login]
</div>
<!-- END LOGIN BANNER -->

<!-- BEGIN LOGIN -->
<div class="content not">
	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" action="$_basename" method="post">
        <input type="hidden" name="component" value="$component" >			
        <input type="hidden" name="task" value="login" >
        <input type="hidden" name="sbt" value="$sbt">	
        <input type="hidden" name="backurl" value="$backurl">	
        
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			@t[Please enter username and password.]</span>
		</div>
		

		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">@t[Username]</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="@t[Username]" name="params[username]" id='param_username'/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">@t[Password]</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@t[Password]" name="params[password]" id='param_password'/>
			</div>
		</div>
		<!--# if ($enable_captcha) { #-->
		<div class="form-group">
		    <div class="input-icon sec-icon">
		        <label class="control-label visible-ie8 visible-ie9">@t[Captcha]</label>
			    <i class="fa fa-lock"></i>
			    <input class="form-control placeholder-no-fix rccode " type="text" name="params[captcha]" autocomplete="off" required placeholder="@t[Captcha]" value="" id="seccode" style="width:50%;" />
                <img src="$_libroot/common/img/hidden.gif" class="captcha" id="capimg" alt="@t[Captcha]" title="@t[Cannot see the captcha, please click me for reloading]" style="width:45%;"/>
		    </div>
		</div>
		<!--# } #-->
		
		<div class="form-actions">
		
		
			<label class="rememberme mt-checkbox mt-checkbox-outline">
			<!--# if ($savecookie) { #-->
			<input type="checkbox" name="params[remember]" value="1" id='param_save_cookie'/> @t[Remember]
			 <span></span>
			 <!--# } #-->			
			</label>
	    
	    
			<button type="submit" class="btn btn-primary pull-right">
			@t[Login] <i class="m-icon-swapright m-icon-white"></i>
			</button>
			
					
		</div>
		
                
	</form>
	<!-- END LOGIN FORM -->
</div>
<!-- END LOGIN -->
</div>
<!-- END LOGION WRAPPER -->

<!-- BEGIN FOOTER -->
<div class="login-footer page-footer">
	<div class="page-footer-inner pull-right copyright">
		 $sys_current_year &copy; $str_system_copyright_corp $sys_version <a href="#" title="get more info" target="_blank">Home</a>
	</div>
</div>
<!-- END FOOTER -->

<script src="$_dstroot/js/login.js" type="text/javascript"></script>


<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>