<rdoc:include file="nohead.htm" />

<!-- BEGIN PAGE CONTENT-->	
		
<div class="row">
		<div class="col-md-12">
			<div class="portlet box default">
						
			<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form class="form-horizontal" role="form">
											<div class="form-body">
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-3 bold">$vfields[lid] :</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 $params[lid]
																</p>
															</div>
														</div>
													</div>											
												</div>

												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-3 bold">$vfields[des] :</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 $params[des]
																</p>
															</div>
														</div>
													</div>											
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-3 bold">$vfields[loglevel] :</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 $params[loglevel]
																</p>
															</div>
														</div>
													</div>											
												</div>

												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-3 bold">$vfields[cmd] :</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 $params[cmd]
																</p>
															</div>
														</div>
													</div>											
												</div>

												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-3 bold">$vfields[object] :</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 $params[object]
																</p>
															</div>
														</div>
													</div>											
												</div>


												
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-3 bold">$vfields[ip] :</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 $params[ip]
																</p>
															</div>
														</div>
													</div>											
												</div>

												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-3 bold">$vfields[uid] :</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 $params[uid]
																</p>
															</div>
														</div>
													</div>											
												</div>

												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-3 bold">$vfields[ts] :</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 $params[ts]
																</p>
															</div>
														</div>
													</div>											
												</div>

											</div>
											<div class="form-actions">
												<div class="row">
													<div class="col-md-12">
														<div class="row">
															<div class="col-md-offset-3 col-md-9">
																
															</div>
														</div>
													</div>
													<div class="col-md-6">
													</div>
												</div>
											</div>
										</form>
					</div>	
			</div>
		</div>
</div>
<!-- END PAGE CONTENT -->


<rdoc:include file="nofoot.htm" />			