
.fileinput 
{
	position:relative;
	display: inline-block;

}

.fileinput-reset  
{
	position:absolute; 
	top:0px; 
	right:0px; 
	color:Red;
	display:none;
}

.fileinput:hover .fileinput-reset 
{
	display:block;	
}