.fileupload {
  margin-right: -10px; }
  .fileupload:before, .fileupload:after {
    display: table;
    content: " "; }
  .fileupload:after {
    clear: both; }
  .fileupload .bg-grey-light {
    background-color: #fefefe; }
  .fileupload .tile {
    display: block;
    letter-spacing: 0.02em;
    float: left;
    height: 82px !important;
    width: 82px !important;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 20px;
    overflow: hidden;
    border: 1px solid transparent;
    margin: 1px;
    padding: 2px; }
    .fileupload .tile:after, .fileupload .tile:before {
      content: "";
      float: left; }
    .fileupload .tile.double {
      width: 280px !important; }
    .fileupload .tile.double-down {
      height: 280px !important; }
      .fileupload .tile.double-down i {
        margin-top: 95px; }
    .fileupload .tile:hover {
      border-color: #aaa !important; }
    .fileupload .tile:active, .fileupload .tile.selected {
      border-color: #ccc !important; }
    .fileupload .tile.selected .corner:after {
      content: "";
      display: inline-block;
      border-left: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-right: 40px solid #ccc;
      position: absolute;
      top: -3px;
      right: -3px; }
    .fileupload .tile.selected .check:after {
      content: "";
      font-family: FontAwesome;
      font-size: 13px;
      content: "\f00c";
      display: inline-block;
      position: absolute;
      top: 2px;
      right: 2px; }
    .fileupload .tile.icon {
      padding: 0; }
    .fileupload .tile.image .tile-body {
      padding: 0 !important; }
      .fileupload .tile.image .tile-body > img {
        width: 100%;
        height: auto;
        min-height: 100%;
        max-width: 100%; }
      .fileupload .tile.image .tile-body h3 {
        display: inline-block; }
    .fileupload .tile .tile-body {
      height: 100%;
      vertical-align: top;
      padding: 0px;
      overflow: hidden;
      position: relative;
      font-weight: 400;
      font-size: 12px;
      color: #000000;
      color: #ffffff;
      background: #f5f5f5;
      margin-bottom: 10px;
      text-align: center; }
      .fileupload .tile .tile-body p {
        font-weight: 400;
        font-size: 13px;
        color: #000000;
        color: #ffffff;
        line-height: 20px;
        overflow: hidden; }
        .fileupload .tile .tile-body p:hover {
          color: rgba(0, 0, 0, 0.8); }
        .fileupload .tile .tile-body p:active {
          color: rgba(0, 0, 0, 0.4); }
        .fileupload .tile .tile-body p:hover {
          color: #ffffff; }
      .fileupload .tile .tile-body img {
        float: left;
        margin-right: 10px; }
        .fileupload .tile .tile-body img.pull-right {
          float: right !important;
          margin-left: 10px;
          margin-right: 0px; }
      .fileupload .tile .tile-body > .content {
        display: inline-block; }
      .fileupload .tile .tile-body > i {
        margin-top: 17px;
        display: block;
        font-size: 56px;
        line-height: 56px;
        text-align: center; }
      .fileupload .tile .tile-body h1,
      .fileupload .tile .tile-body h2,
      .fileupload .tile .tile-body h3,
      .fileupload .tile .tile-body h4,
      .fileupload .tile .tile-body h5,
      .fileupload .tile .tile-body h6,
      .fileupload .tile .tile-body p {
        padding: 0;
        margin: 0;
        line-height: 14px; }
        .fileupload .tile .tile-body h1:hover,
        .fileupload .tile .tile-body h2:hover,
        .fileupload .tile .tile-body h3:hover,
        .fileupload .tile .tile-body h4:hover,
        .fileupload .tile .tile-body h5:hover,
        .fileupload .tile .tile-body h6:hover,
        .fileupload .tile .tile-body p:hover {
          color: #ffffff; }
      .fileupload .tile .tile-body h3,
      .fileupload .tile .tile-body h4 {
        margin-bottom: 5px; }
    .fileupload .tile .tile-object {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 30px;
      background-color: transparent;
      *zoom: 1; }
      .fileupload .tile .tile-object:before, .fileupload .tile .tile-object:after {
        display: table;
        content: ""; }
      .fileupload .tile .tile-object:after {
        clear: both; }
      .fileupload .tile .tile-object > .name {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 15px;
        font-weight: 400;
        font-size: 13px;
        color: #ffffff; }
        .fileupload .tile .tile-object > .name > i {
          vertical-align: middle;
          display: block;
          font-size: 24px;
          height: 18px;
          width: 24px; }
      .fileupload .tile .tile-object > .number {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
        color: #ffffff;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.01em;
        line-height: 14px;
        margin-bottom: 8px;
        margin-right: 10px; }
    .fileupload .tile .fileupload-buttonbar {
      padding: 0px;
      height: 22px;
      display: none; }
    .fileupload .tile .fileinput-button .fa-plus {
      font-size: 60px;
      line-height: 60px;
      height: 60px;
      color: #cecece; }
    .fileupload .tile .tile-error {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      *zoom: 2;
      text-align: center;
      color: red; }
      .fileupload .tile .tile-error .error {
        color: red; }
    .fileupload .tile .tile-actions {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 15px;
      background-color: transparent;
      *zoom: 2;
      display: none;
      text-align: right; }
    .fileupload .tile:hover .tile-actions {
      display: block; }
    .fileupload .tile:hover .tile-size {
      display: none; }
    .fileupload .tile.selected .tile-actions {
      display: block; }
    .fileupload .tile .tile-actionbar {
      position: absolute;
      bottom: 0;
      right: 0px;
      min-height: 20px;
      background-color: transparent;
      *zoom: 2;
      text-align: right; }
    .fileupload .tile .tile-progresscircle {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      *zoom: 2;
      border: 1px solid red;
      text-align: center;
      display: none; }
    .fileupload .tile .tile-size {
      position: absolute;
      bottom: 40px;
      left: 5px;
      right: 5px;
      *zoom: 2;
      min-height: 20px;
      height: 20px;
      text-align: center; }
    .fileupload .tile .tile-progress {
      position: absolute;
      bottom: 40px;
      left: 5px;
      right: 5px;
      *zoom: 2;
      min-height: 5px;
      height: 5px;
      text-align: center; }
    .fileupload .tile .tile-size > .size {
      color: #ffffff;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.01em;
      line-height: 12px; }
    .fileupload .tile .tile-object > .name {
      margin-left: 5px;
      margin-right: 5px; }
    .fileupload .tile .tile-progress {
      display: none; }

.vt {
  vertical-align: top; }

.fileupload-info {
  height: 120px;
  width: 200px;
  padding: 10px 5px 5px 5px; }

.fileupload-progress {
  height: 22px; }

.fileupload-panel {
  min-width: 200px; }

.fileinput {
  text-align: left; }

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle; }

.fileinput-filename > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr; }

.fileinput {
  display: inline-block;
  margin-bottom: 9px; }

.fileinput .btn {
  vertical-align: middle; }

.fileinput-exists {
  display: none; }

.fileinput-inline .fileinput-controls {
  display: inline; }

.fileinput-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle; }
