.listview .title a {
	font-weight: bolder;
	font-size:24px;
}

.listview thead th .sortable {
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 20px;
}

.listview .table thead th .both {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC");
}
.listview .table thead th .asc {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==");
}
.listview .table thead th .desc {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ");
}

.fa-space {
	padding-left:10px;
}

.mt-element-list .mt-list-item 
{
	height:100px !important;
}

.mt-element-list .list-thumb {
    height: 100% !important;
    max-width:70px;
    max-height:70px;
}


.lvd .ico {
    font-size: 6px;
    margin: 0 2px 0 4px;
    top: -1px;
}

.widget-thumb 
{
	padding:5px !important ;
}

.widget-bg-color-gray {
    background: #f0f0f0 !important ;
}

.widget-thumb-wrap .widget-thumb-icon {
  height: 100% !important;
  width: 100% !important;
  padding: 0px !important;
}

.widget-thumb-wrap img { width:100% !important; }

.listview .btn-icon-only {
	width: 30px !important;
	height: 30px !important;
	margin-left: 5px;
}

.lv-table th{
	vertical-align: middle !important;
}
.lv-table td{
	vertical-align: middle !important;
}


.lv-checkbox{
	text-align: center;
	width: 36px;
}
.lv-table .lv-checkbox label {
  margin-bottom: 0 !important;
}
.lv-table .sortable-space {
	padding-right: 30px;
}
.showcolumnmenuitem { padding: 10px; }
.columnmenuitem { padding-left: 10px; }

.lv-table .btn { margin-right: 0px !important;  }

.lv-row-bg-1 { background: #f0f0f0; }
.lv-row-bg-2 { background: #e8e8e8; }
.lv-row-bg-3 { background: #e0e0e0; }
.lv-row-bg-4 { background: #d0d0d0; }

.lv-icon { width: 24px; }
.listview-large .widget-thumb-title {
	padding:2px 5px 0px 5px;
	line-height: 32px;
	height: 32px;
}
.lv-optmenu {
	width: 120px;
}
.lv-nodata {
	font-size: 24px;
	color: #e0e0e0;

}
/* pagination-input */
.t .pagination {
	margin: 0px;
}
.t .pagination-info {
	height: 46px;
	line-height: 46px;
}
.t .pagination-lg li span {
	padding: 0px;
	margin: 0px;
	height: 46px;
}
.t .pagination-input {
	padding: 0px;
	margin: 0px;
	width: 48px;
	height: 44px;
	border: 0px;
	text-align: center;
	font-weight: bold;
}



@media (max-width: 480px) { /* 480px */



.t .pagination-input{
  height: 34px;
}
.t .pagination-lg li span {
  height: 36px;
}

.pagination-lg li a{
  padding: 5px 8px;
}
}