/*util*/
.clear{clear:both; margin:0; padding:0; font-size:0; line-height:0; height:0}
.b { font-weight:bolder;}
.ac,.center {text-align:center;}
.al { text-align:left;}
.ar { text-align:right;}
.h3{color:#336699;font-size:12px;font-weight:bold;}
.h4{color:#333;font-weight:bold;padding:2px 0px 2px 0px;}
.fl { float:left;}
.fr { float: right;}
.cf:before, .cf:after,.web:before, .web:after,.web_:before, .web_:after {content:"";display:table;}
.cf:after,.web:after,.web_:after {clear:both;}
.cf {zoom:1;}
.fl {float: left;}
.fr {float: right;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align: center;}

.wb { word-break: break-all;}
.hand { cursor:pointer;}
.hand:hover { background:#ccc;}
.mytitle {height:22px; line-height:22px;}
.redf{color: #c00;}
.greenf{color:#007c00;}
.grayf{color: gray;}
.yellowf{color: #cc0;}
.orangef{color: orange;}

/* social-icons */
.social-icons li .qq {
  background: url(../img/social/qq2.png) no-repeat; }
.social-icons li .weixin {
  background: url(../img/social/weixin.png) no-repeat; }
 .social-icons li .weibo {
  background: url(../img/social/weibo.png) no-repeat; }

.icon-i18n-zh_TW,
.icon-i18n-zh_CN { 
  width: 36px; 
  height: 11px; 
  background: url('../img/flags/cn.png')center no-repeat;
}

.t1{font-size: 24px !important; font-weight: bolder;}
.t2{font-size: 18px !important;font-weight: bolder;}
.t3{font-size: 16px !important;font-weight: bolder;}
.t4{
	font-size: 14px !important;font-weight: bolder;
}
.t5{
	font-size: 12px !important;font-weight: bolder;
}
